
@using DataLayer.Enums

@model List<AdditionPM>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("span").click(function () {
            $(this).prev().trigger("click");
        });
    });
</script>

<style>

    span:hover {
        cursor: pointer;
    }

    #AdditionsForOrderModal {
        font-size: 18px;
    }

    .photogallery-btn-orange.save-status {
        line-height: 30px;
        height: 40px;
        width: 130px;
    }

    .photogallery-btn-orange.close-status-modal {
        line-height: 30px;
        height: 40px;
        width: 130px;
        background-color: #808080;
    }
</style>

<div class="modal fade" id="AdditionsForOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">Дополнить заказ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="additionsData" asp-action="SaveOrderAdditions" asp-controller="Orders" method="post">
                        <input type="hidden" name="orderId" value="@((int)ViewBag.OrderId)" />
                        <div class="col">
                            <div class="status-headers mb-2 pl-3">
                                @{
                                    foreach (var addition in Model)
                                    {
                                
                                            <input name="additionIds" type="checkbox" value="@addition.Id" />
                                            <span>@addition.Name +@addition.Price</span><br />
                                           
                                    }
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-end">
                    <input type="button" class="btn photogallery-btn-orange close-status-modal mr-3" data-dismiss="modal" value="Отмена" />
                    <input form="additionsData" type="submit" class="btn photogallery-btn-orange save-status mr-3" value="Сохранить" />
                </div>
            </div>
        </div>
    </div>
</div>

