
@model List<AdditionPM>

@{
    var additions = (List<AdditionPM>)Model;
}

<script>
    $(document).ready(function () {
        $(".addition-span").click(function () {
            $(this).prev().trigger("click");
            //var clickedAdditionCheckedProp = $(this).prev().prop("checked");
            //var clickedAdditionPrice = $(this).prev().attr("data-price");
            //var summ = $("#price").val();
            //if (clickedAdditionCheckedProp == true) {
            //    $("#price").val(Number(summ) + Number(clickedAdditionPrice));
            //}
            //else if (clickedAdditionCheckedProp == false) {
            //    $("#price").val(Number(summ) - Number(clickedAdditionPrice));
            //}
        });

        $(".addition-input").click(function () {
            var clickedAdditionCheckedProp = $(this).prop("checked");
            var clickedAdditionPrice = $(this).attr("data-price");
            var summ = $("#price").val();
            if (clickedAdditionCheckedProp == true) {
                $("#price").val(Number(summ) + Number(clickedAdditionPrice));
            }
            else if (clickedAdditionCheckedProp == false) {
                $("#price").val(Number(summ) - Number(clickedAdditionPrice));
            }
        });
    });
</script>

@if (additions.Count != 0)
{
    <div class="row">
        <div class="ml-4 mt-2">
            Добавить в основной пакет:
        </div>
    </div>
    <div class="row addition-checkboxes">
        @foreach (var addition in additions)
        {
            <div class="col-12 p-2 pl-5">
                <input name="additionIds" class="addition-input" type="checkbox" value="@addition.Id" data-price="@addition.Price" />
                <span class="addition-span">@addition.Name +@addition.Price</span><br />
            </div>
        }
    </div>
}
