
@{
    ViewData["Title"] = "AboutUs";
}

<style>
    .photogallery-btn-orange {
        width: 200px;
    }
</style>

<div class="container-fluid p-0">
    <div class="col-12 about-us-page-main-img">
        <div class="about-us-page-title text-center">
            <h1>О нас</h1><br />
            Мы являемся производственной компанией, которая предлагает нашим клиентам как услуги фотографа, так и видеографию. Мы обладаем многолетним опытом во всех аспектах производства фото и видео. От создания современных корпоративных видеороликов до создания вашего бизнеса или съемки всех волшебных моментов вашего особого события, мы стремимся сделать все возможное, чтобы вы были на 100% удовлетворены конечным результатом. Мы будем рады помочь вам создать свой проект или запечатлеть ваш особенный день.
            <div class="row justify-content-center mt-2">
                <a class="photogallery-btn-orange" asp-action="Contact" asp-controller="Photogallery">Связаться с нами</a>
            </div>
        </div>
    </div>
</div>
