
@{ 
    var currentUser = (CurrentUser)ViewBag.CurrentUser;
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("button").click(function (e) {
            e.preventDefault();

            $.ajax({
                url: "@Url.Action("Login", "Photogallery")",
                method: "POST",
                data: $('#login-form').serialize(),
                success: function () {
                    window.location.href = "@Url.Action("Index", "Photogallery")";
                },
                error: function () {
                    $("form input").addClass("error-border");
                    $("div.error-message").removeClass("visibility-hidden");
                }
            });
        });
    });
</script>

<style>
    .login-page {
      width: 450px;
      padding: 8% 0 0;
      margin: auto;
    }
    .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 450px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
    .form button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #f29f0a;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
    }
    .form button:hover,.form button:active,.form button:focus {
      background: #f29f0a;
    }
    .form .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
    }
    .form .message a {
      color: #4CAF50;
      text-decoration: none;
    }
    .form .register-form {
      display: none;
    }
     .info {
          margin: 50px auto;
          text-align: center;
        }
     .info h1 {
      margin: 0 0 15px;
      padding: 0;
      font-size: 36px;
      font-weight: 300;
      color: #1a1a1a;
    }
     .info span {
      color: #4d4d4d;
      font-size: 12px;
    }
   .info span a {
      color: #000000;
      text-decoration: none;
    }
     .info span .fa {
      color: #EF3B3A;
    }
    body {
        background: #ffffff; /* fallback for old browsers */
    }

    .error-border {
        border: 1px solid #e00 !important;
    }
</style>
<div class="login-page">
    <div class="form pt-4">
        <div class="error-message text-left mt-0 mb-2 visibility-hidden">
            <p>Неправильный логин или пароль</p>
        </div>
        <form id="login-form">
            <input type="text" name="login" placeholder="Логин" />
            <input type="password" name="password" placeholder="Пароль" />
            <button type="button">Войти</button>
        </form>
        @if (currentUser.IsGuest)
        {
            <div class="text-center mt-2">
                <span class="text20">
                    Ещё не пользователь?
                </span>
                <a asp-action="Registration" asp-controller="Photogallery" class="remoda-default-link">
                    Зарегистрироваться
                </a>
            </div>
        }
    </div>
</div>

