
@{
    ViewData["Title"] = "SuccessfulRegistration";
}

<div class="container-fluid margin-top-100px"> 
    <h3>Вы удачно зарегистрировались. <a asp-action="Login" asp-controller="Photogallery">Вход.</a></h3>
</div>